<div class="container mt-4">
    <div class="row">
        <div class="d-flex justify-content-between">
            <div>
                <p class="theme-h3" > <strong>Todo(s)</strong></p>
            </div>
            <div>
                <button class="theme-btn" (click)="addTodo()"><i class="fa fa-plus"></i> Add Todo</button>
                @if(numSelected > 0){
                    <button class="theme-btn ml" (click)="deleteSelectedFields()"><i class="fa fa-trash"></i> Delete Todo ({{numSelected}})</button>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="scroll-container" infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="false">
            <table mat-table [dataSource]="todoList" matSort (matSortChange)="sortData($event)"
            class="todo-table">
    
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="onMasterToggle()"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td  mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="onSelection($event,row)"
                            [checked]="selection.isSelected(row)">
                </mat-checkbox>
                
            </td>
            </ng-container>
        <ng-container matColumnDef="todo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Todo
            </th>
            <td mat-cell *matCellDef="let element">
                <span class="title-span">
                    {{element.todo ? (element.todo | titlecase) : 'N/A'}}
                </span>
             </td>
        </ng-container>
    
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Priority
            </th>
            <td mat-cell *matCellDef="let element">
                <span class="p-span" [ngClass]="
                {
                    'low': element.priority == priority.LOW,
                    'medium': element.priority == priority.MEDIUM,
                    'high': element.priority == priority.HIGH
                }
                ">
                <i class="fa " [ngClass]="element.priority == priority.HIGH ? 'fa-arrow-up' : 'fa-arrow-down'" aria-hidden="true"></i>
                    {{element.priority ? (element.priority | titlecase) : 'N/A'}}
                </span>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span [ngClass]="{
                    'badge-i': element.status == status.INPROGRESS,
                    'badge-t': element.status == status.TODO,
                    'badge-d': element.status == status.DONE
                }">
                    {{
                    element.status == status.INPROGRESS ? 'In Progress' : element.status == status.TODO ? 'To Do' : (element.status | titlecase)
                     }} 
                </span>
        </td>
        </ng-container>
    
        <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Percent (%)
            </th>
            <td mat-cell *matCellDef="let element"> <span class="title-span">{{element.percentage}}</span></td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="viewTodo(element)">
                    <i class="fa fa-eye"></i>
                </button> 
                    <button mat-icon-button  (click)="editTodo(element)">
                        <i class="fa fas fa-edit"></i>
                    </button> 
             </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>

    </div>
</div>
