.scroll-container {
    height: 400px; 
    overflow-y: auto;
    padding: 0px; 
  }

  /* Width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cdd8d8; 
  }
  
  /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: rgb(238, 239, 240); 
//   }
  
  .low{
   color: rgb(6, 122, 6); 
  }
  
  .medium{
   color: rgb(240, 240, 6); 
  }
  
  .high{
   color: red; 
  }

 .noRecord-div{
  text-align: center;
  padding-top: 100px;
  h2{
    color: #42BEBE;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
  }
  p{
    color: #818991;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    
  }
 }
  
  

::ng-deep{
    .todo-table{
        // height: 400px;
      th,
      td {
        vertical-align: middle !important;
        border: none !important;
      }
      
      thead{
          tr{
            height: 60px;
            background: #42BEBE;
            th{
                font-size: 16px;
                color: white;
                padding: 10px;
                text-transform: uppercase;
            }
          }
      }
      tbody {
        tr {
          height: 52px;
          border-bottom: 1px solid #edf2f7;
          &:hover {
            box-shadow: inset 4px 0 0px 0px rgb(76 111 255);
          }
    
          td {
            font-size: 14px;
            color: #425466;
            padding: 10px;
          }
    
          &:hover {
            background: #edf2f7;
          }
          
        }
      }
    }
    
}