<div class="container mt-4 mb-4">
    <div class="row">
        <p class="h3 text-muted"><strong>Add Todo</strong></p>
    </div>
    <div class="row justify-content-center">
        <form [formGroup]="addTodo">
            <div class="row mt-3">
                <div class="col-6">
                    <div class="col-auto">
                        <label for="todo">Todo</label>
                        <input type="text" id="todo" class="form-control" formControlName="todo">
                    </div>
                </div>
                    
                <div class="col-6">
                    <div class="col-auto">
                        <label>Priority</label>
                        <select class="form-select" formControlName="priority">
                            <option value="high">Hight</option>
                            <option value="medium">Medium</option>
                            <option value="low">Low</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="col-auto">
                        <label>Status</label>
                        <select class="form-select" formControlName="status">
                            <option value="todo">To Do</option>
                            <option value="inProgress">In Progress</option>
                            <option value="done">Done</option>
                          </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-auto">
                        <label>Percentage(%)</label>
                        <input type="number" class="form-control" formControlName="percentage">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="submit()" >Submit</button>
                    </div>
                </div>
            </div>
    
        </form>
    </div>
</div>
