
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-primary: mat.define-palette(mat.$indigo-palette);
$todo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-theme: mat.define-light-theme((
  color: (
    primary: $todo-primary,
    accent: $todo-accent,
    warn: $todo-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todo-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-btn{
  background-color: #42BEBE;
  color: white;
  font-size: 16px;
  padding: 12px 22px;
  border:  0px;
  border-radius: 5px;
  font-weight: 500;

  &:hover{
    background-color: #79ecec;
  }
  &:disabled {
    background-color: #79ecec;
    color: #999; 
    cursor: not-allowed; 
  }
}
.ml{
  margin-left: 10px;
}

.theme-h3{
  color: #818991;
  font-family: sans-serif;
  font-size: 30px;
}

.p-span{
  font-size: 15px;
  font-weight: 500;
}


.badge-i{
  color: rgb(6, 99, 204);
  background-color: #bcdcfd;
  padding: 10px 15px;
  border-radius: 5px;
}
.badge-t{
color: #373a3d;
background-color: #dbdddf;
padding: 10px 15px;
  border-radius: 5px;
}
.badge-d{
  color: rgb(25, 194, 25);
  background-color: #cbf7cb;
  padding: 10px 15px;
  border-radius: 5px;

}

.title-span{
  color: rgb(55, 67, 105);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
}

.fa {
  font-size: 16px; 
}
